<!-- <p>goal-detail works!</p> -->
<!-- <p>
    {{goal.description}}
 </p> -->
  <!-- <h1>My Goals</h1> -->
<!-- <hr>
<ul>
  <div *ngFor='let goal of goals;let i = index'>
    <li>{{goal.name}}</li>
  </div>
</ul> -->
<p>{{goal.description}}</p>
<p>This goal will be complete in {{goal.completeDate|dateCount}} days</p>
<button (click)= 'goalDelete(true)' class="btn btn-outline-danger">Delete Goal</button><!-- <app-goal-details *ngIf="goal.showDescription" [goal]='goal' (isComplete)= 'completeGoal($event,i)'></app-goal-details> -->
<!-- <p *ngIf='goals.length > 5'>You have too many goals</p> -->
