<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" >
  <h1>
    welcome to AnQuote{{ AnQuote}}!
  </h1>
  <img src="assets/images/anilogo.jpeg"  width="300" alt="" style="border-radius: 50%">
</div>
<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<!-- <router-outlet></router-outlet> -->
<div sty>
  <h1 style="text-align:center">What's your favorite quote</h1>
  <ul>
      <li *ngFor='let quote of quotes'>
        {{quote.name}}
      </li>
  </ul>
</div>
<app-quote></app-quote>
